:root {
  --light-color: rgb(101, 57, 57);
  --dark-color: rgb(57, 5, 5);
}
.Weather {
  font-family: "Libre Baskerville", serif;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 20px;
  color: var(--light-color);
  background: linear-gradient(
      180deg,
      rgba(245, 245, 245, 0.3) 60%,
      rgb(245, 245, 245, 0.9) 100%
    ),
    url("./icons/images/pexels-johannes-plenio-1118873.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 50px;
  margin-top: 15px;
  text-align: center;
}
img {
  width: 150px;
  margin-top: 15px;
}
ul {
  margin: 15px 0 0 0;
  padding: 0;
}
li {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  list-style: none;
}
.temperature {
  color: var(--dark-color);
  font-size: 50px;
  font-weight: 400;
}
.unit {
  font-size: 18px;
}
.Loader {
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  img {
    width: 100px;
    margin-top: 7px;
  }
  li {
    font-size: 14px;
    line-height: 22px;
  }
  .temperature {
    font-size: 35px;
  }
  .unit {
    font-size: 12px;
  }
}
