:root {
  --light-color: rgb(114, 71, 71);
  --dark-color: rgb(57, 5, 5);
}
.Weather {
  font-family: "Libre Baskerville", serif;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 20px;
  color: var(--light-color);
  background: linear-gradient(
      180deg,
      rgba(245, 245, 245, 0.4) 74%,
      rgb(245, 245, 245, 0.8) 100%
    ),
    url("./icons/images/pexels-johannes-plenio-1118873.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 50px;
  margin-top: 15px;
  text-align: center;
}
img {
  width: 150px;
  margin-top: 15px;
}
ul {
  margin: 15px 0 0 0;
  padding: 0;
}
li {
  font-size: 20px;
  line-height: 30px;
  list-style: none;
}
.temperature {
  color: var(--dark-color);
  font-size: 50px;
  font-weight: 400;
}
.unit {
  font-size: 18px;
}
.Loader {
  text-align: center;
}
